/* styles.css */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn_border {
    padding: 0 38px;
    border: 2px solid #F6F7FB;
    color: #1A202C; }
    @media only screen and (max-width: 767px) {
      .btn_border {
        padding: 0 22px; } }
    .btn_border:hover {
      border-color: #000; }
  .btn_wide {
    min-width: 100%; }
    @media only screen and (max-width: 767px) {
      .btn_wide {
        min-width: 100%; } }


.cart-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.total-price {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

#checkout-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
