body {
    font-family: Arial, sans-serif;
    background-color: #ffeded;
    color: #333;
}

main h1.left-aligned {
    text-align: left !important;
    margin-left: 0 !important;
}

.icons {
    margin-right: 100px;
}
main {
    width: 100%;
    margin: auto;
}

/* styles.css */

.left-align {
    text-align: left;
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5dede;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-item img {
    width: 310px;
    height: 310px; /* Adjust this to the desired height */
    object-fit: cover;
    
}

.add-to-cart {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #113c18;
    color: #fff;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 80px;
}

.caption {
    padding: 10px;
    font-size: 1em;
    color: #ae322c;
    text-align: left;
    background-color: #F9E5E5;
    width: 100%;
    margin: 0; /* Remove margin */
    margin-left: 30px;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 10px; 
}

.price {
    font-weight: bolder;
}

.caption p {
    margin: 5px 0; /* Adjust margin to reduce space */
}




@media only screen and (max-width: 768px) {
    .product-item img {
      grid-template-columns: repeat(1, 1fr); /* Change to single column layout */
    }
}

@media (max-width: 1024px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 480px) {
    .product-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}