<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DecoHub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='deco.css') }}">
</head>
<body>
    <header>
        <div class="logo">DecoHub</div>
        <div class="search-bar">
            <input type="text" placeholder="Search">
        </div>
        <div class="icons">
            <a href="/cart">
                <span>🛒</span>
            </a>
            <span>🔔</span>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('profile') }}"><span>👤</span></a>
            {% else %}
                <a href="{{ url_for('login') }}"><span>Login</span></a>
                <a href="{{ url_for('register') }}"><span>Register</span></a>
            {% endif %}
        </div>
    </header>
    <main>
        <p>Shop by departments</p>
        <section class="hero">
            <a href="{{ url_for('category', category_name='furnitures') }}">
                <img src="{{ url_for('static', filename='furniture/chair and sofa/Sofas Ideas Drawing Room.jpeg') }}" alt="Furnitures">
                <div class="caption">Furnitures</div>
            </a>
        </section>
        <section class="categories">
            <div class="category">
                <a href="{{ url_for('category', category_name='bedroom') }}">
                    <img src="{{ url_for('static', filename='bedroom/Baby blue Upholstered Platform Storage Bed.jpeg') }}" alt="Bedroom">
                    <div class="caption">bedroom</div>
                </a>
            </div>

            </div>
            <div class="category">
                <a href="{{ url_for('category', category_name='dining_table') }}">
                    <img src="{{ url_for('static', filename='furniture/dining table/D2  (9).jpeg') }}" alt="Dining Table">
                    <div class="caption">Dining Table</div>
                </a>
            </div>
            <div class="category">
                <a href="{{ url_for('category', category_name='vases') }}">
                    <img src="{{ url_for('static', filename='vases/Orange Ceramic vase set, aesthetic.jpeg') }}" alt="Vases">
                    <div class="caption">Vases</div>
                </a>
            </div>
            <div class="category">
                <a href="{{ url_for('category', category_name='lighting') }}">
                    <img src="{{ url_for('static', filename='lighting/lamp.jpeg') }}" alt="Lighting lamps">
                    <div class="caption">Lighting lamps</div>
                </a>
            </div>
            <div class="category">
                <a href="{{ url_for('category', category_name='bathroom') }}">
                    <img src="{{ url_for('static', filename='bathroom/white organizer.jpeg') }}" alt="Bathroom vanities">
                    <div class="caption">Bathroom vanities</div>
                </a>
        </section>
        
    </main>
    <script src="{{ url_for('static', filename='js/deco.js') }}"></script>
    <footer>
        <div class="footer-container">
          <div class="footer-links">
            <h3>Customer Service</h3>
            
          </div>
          <div class="contact-info">
            <h3>Contact Information</h3>
            <p>Email: nahimamadey1@gmail.com</p>
	        <p>Email: muktarabdiaziz12@gmail.com</p>
            <p>Phone: 0712584960</p>
            <p class="loo"><b>Operating Hours:</b></p>
            <p>Mon-Fri: 9am-9pm EST</p>
            <p>Sat: 9am-6pm EST</p>
          </div>
          <div class="reach-us">
            <h3><span>Social media</span></h3>
            <div class="social-icons">
              <a href="https://www.twitter.com/nahimamadey1"><i class="fab fa-twitter"></i></a>
              <a href="https://www.tiktok.com/naimah"><i class="fab fa-tiktok"></i></a>
            </div>
          </div>
        </div>
        <div class="decorative-line"></div>
        <div class="developers">
		<p>Developed by Nahima Madey & Abdiaziz</p>
        </div>
        <div class="copyright">
          <p>&copy; 2024 DecoHub. All rights reserved.</p>
        </div>
      </footer>
</body>
</html>