<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DecoHub - The Home of Interior Decor</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
  <!-- Hero Section -->
  <section class="hero">
    <div class="hero-content">
      <img src="{{ url_for('static', filename='Landing_page.jpg') }}" alt="Landing page image">
    </div>
    <div class="text-overlay">
      <div class="logo">
        <a href="{{ url_for('index') }}" class="logo-link">DecoHub</a>
      </div>
      <h1>THE HOME OF INTERIOR DECOR</h1>
    </div>
  </section>
  
  <style>
    .logo-link {
      color: white;
      text-decoration: none;
    }
  </style>
  
  <section class="page-2">
    <div class="landing_page_2">
      <img src="{{ url_for('static', filename='landing_page_2.png') }}" alt="Landing page image" class="my-image">
    </div>
  </section>

  <section id="feature" class="feature">
    <h2> Feature Section</h2>
    <p>Our website offers a diverse selection of furniture, vases, beds, lamps, chandeliers, and more, catering to various tastes and styles. Whether you're looking to revamp your living space or find that perfect piece to complete your home, DecoHub has got you covered.</p>
  </section>

  <section id="gallery" class="gallery">
      <div class="gallery-item">
          <img src="static/bedroom/mickey bed.jpeg" alt="Bedroom">
          <div class="category">Bedroom decor</div>
      </div>
      <div class="gallery-item">
          <img src="static/bathroom/organizer racks.jpeg" alt="Bathroom">
          <div class="category">Bathroom organizer</div>
      </div>
      <div class="gallery-item">
          <img src="static/vases/Beige vases.jpeg" alt="Product 3">
          <div class="category">Vases</div>
      </div>
      
  </section>

  <!-- Footer -->
  <footer id="about" class="about">
    <h2>About DecoHub</h2>
    <p>The inspiration for DecoHub stemmed from our desire to create a comprehensive e-commerce platform that not only showcases our expertise in front-end and back-end development but also helps us enhance and refine our skills further.
       We aimed to build a website where we could demonstrate our technical abilities while providing users with an engaging and seamless shopping experience for home décor items.</p>
    <ul>
        <li>Nahima Madey - <a href="https://www.linkedin.com/in/nahima-madey-b2a214287" target="_blank">LinkedIn</a>, <a href="https://github.com/Nahima-aynii" target="_blank">GitHub</a>, <a href="https://twitter.com/NahimaMadey12" target="_blank">Twitter</a></li>
        <li>Abdiaziz Muktar - <a href="https://www.linkedin.com/in/Abdiaziz/" target="_blank">LinkedIn</a>, <a href="https://github.com/Codeniaaz" target="_blank">GitHub</a>, <a href="https://x.com/Abdiaziz" target="_blank">Twitter</a></li>
    </ul>
  </footer>

  <!-- Add your scripts here -->
  <script src="script.js"></script>
</body>
</html>