<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lighting Lamps</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='deco.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lighting.css') }}">
</head>
<body>
    <h1>Lighting</h1>
    <main>
        <h1>Lighting Lamps</h1>
        <section class="product-grid">
            <div class="hero">
                <a href="{{ url_for('category', category_name='lighting') }}">
                    <img src="{{ url_for('static', filename='lighting/LED Table Desk Lamp Creative Nordic Wooden Art Iron Folding Bedroom Eye Protection Reading Light Simple Living Room Home Decor Pink-02-White Light Dimming-AU Plug.jpeg') }}" alt="LED Table Desk Lamp Creative Nordic Wooden">
                    <div class="caption">LED Table Desk Lamp Creative Nordic Wooden</div>
                </a>
                
                <a href="{{ url_for('category', category_name='lighting') }}">
                    <img src="{{ url_for('static', filename='lighting/Afralia™ LED Brass Glass Table Lamp for Bedside Reading Desk - Modern Round Ring Design - AU plug _ 4.jpeg') }}" alt="LED Brass Glass Table Lamp for Bedside Reading Desk">
                    <div class="caption">LED Brass Glass Table Lamp for Bedside Reading Desk</div>
                </a>
                
                <a href="{{ url_for('category', category_name='lighting') }}">
                    <img src="{{ url_for('static', filename='lighting/Brass Globe Semi Flush Light Minimalist Glass LED Close to Ceiling Lamp for Bedroom.jpeg') }}" alt="Brass Globe Semi Flush Light Minimalist Glass LED Close to Ceiling Lamp for Bedroom">
                    <div class="caption">Brass Globe Semi Flush Light Minimalist Glass LED Close to Ceiling Lamp for Bedroom</div>
                </a>
                
                <a href="{{ url_for('category', category_name='lighting') }}">
                    <img src="{{ url_for('static', filename='lighting/c192f29b-32fe-4f8c-8a4c-625c1dcb2c37.jpeg') }}" alt="Bathroom vanities">
                    <div class="caption">Bathroom vanities</div>
                </a>
                
                <a href="{{ url_for('category', category_name='lighting') }}">
                    <img src="{{ url_for('static', filename='lighting/Couple Statue Ceramic Hold the Lamp Figurines Abstract Hugging Lovers Sculptures for Modern Home Office Decor for Bedroom Nightstand Shelf Aesthetic Decorations Gift for Anniversary Valentine's Day.jpeg') }}" alt="Couple Statue Ceramic Hold the Lamp Figurines">
                    <div class="caption">Couple Statue Ceramic Hold the Lamp Figurines</div>
                </a>
                
                <a href="{{ url_for('category', category_name='lighting') }}">
                    <img src="{{ url_for('static', filename='lighting/download.jpeg') }}" alt="Bathroom vanities">
                    <div class="caption">Bathroom vanities</div>
                </a>
                
                <a href="{{ url_for('category', category_name='lighting') }}">
                    <img src="{{ url_for('static', filename='lighting/Height Adjustable Ring LED Pendant Lighting Simplicity Metal Black Chandelier for Dining Room.jpeg') }}" alt="Height Adjustable Ring LED Pendant Lighting">
                    <div class="caption">Height Adjustable Ring LED Pendant Lighting</div>
                </a>
                
                <a href="{{ url_for('category', category_name='lighting') }}">
                    <img src="{{ url_for('static', filename='lighting/Unique Gifts, Unique Living - ApolloBox.jpeg') }}" alt="Unique Gifts, Unique Living - ApolloBox">
                    <div class="caption">Unique Gifts, Unique Living - ApolloBox</div>
                </a>
                
                <a href="{{ url_for('category', category_name='lighting') }}">
                    <img src="{{ url_for('static', filename='lighting/Scandinavian Style Ring Led Chandelier with Remote Control Stairs Loft Living Room Decoration Hanging Fixture Indoor Lighting Gold-40 60 80cm 3rings-Dimmable with remote.jpeg') }}" alt="Scandinavian Style Ring Led Chandelier with Remote Control">
                    <div class="caption">Scandinavian Style Ring Led Chandelier with Remote Control</div>
                </a>
                
                <a href="{{ url_for('category', category_name='lighting') }}">
                    <img src="{{ url_for('static', filename='lighting/Porsa - 6 light brushed brass and warm white porcelain flush.jpeg') }}" alt="Porsa - 6 light brushed brass and warm white porcelain flush">
                    <div class="caption">Porsa - 6 light brushed brass and warm white porcelain flush</div>
                </a>
                
                <a href="{{ url_for('category', category_name='lighting') }}">
                    <img src="{{ url_for('static', filename='lighting/Met #LED verlichting is jouw fantasie de grens van….jpeg') }}" alt="Met #LED verlichting is jouw fantasie de grens van…">
                    <div class="caption">Met #LED verlichting is jouw fantasie de grens van…</div>
                </a>
                
                <a href="{{ url_for('category', category_name='lighting') }}">
                    <img src="{{ url_for('static', filename='lighting/Louise Modern Led Pendant Light, Black_White, Living Room_Bedroom White-Dimmable With Remote Control.jpeg') }}" alt="Louise Modern Led Pendant Light, Black_White, Living Room_Bedroom">
                    <div class="caption">Louise Modern Led Pendant Light, Black_White, Living Room_Bedroom</div>
                </a>
                
                <a href="{{ url_for('category', category_name='lighting') }}">
                    <img src="{{ url_for('static', filename='lighting/1418e210-d48f-4656-b6aa-b189364d38d4.jpeg') }}" alt="Bathroom vanities">
                    <div class="caption">Bathroom vanities</div>
                </a>
                
                <a href="{{ url_for('category', category_name='lighting') }}">
                    <img src="{{ url_for('static', filename='lighting/b4cd0823-2223-47d2-9fb2-fb59c76c2b17.jpeg') }}" alt="Bathroom vanities">
                    <div class="caption">Bathroom vanities</div>
                </a>
            </div>
        </section>
    </main>
</body>
</html>